html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body {
	margin: 0;
	height: 0;
	width: 100%;
	height: 100%;
	font-family: 'Belgrano', serif;
    background: no-repeat center/80% url(newImage);
    /* background: linear-gradient(rgb(92, 46, 13), tan); */
}