html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body {
	margin: 0;
	height: 0;
	width: 100%;
	height: 100%;
	background-attachment: fixed;
	font-family: 'Srisakdi', cursive;
}

/* ======================================
			HEADER
====================================== */

h1, h4 {
	color: white;
	text-align: center;
	/* background-color: rgba(0, 0, 255, .5); */
	/* border-radius: 50%; */
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
	max-width: 1399px;
}

h4 {
	padding: 20px;
	font-family: fantasy;
}

/* 
==================================
			ZODIAC TILES
=================================== */

.imagecontainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin-top: 30px;
	max-width: 1399px;
}

.thumbnail {
	padding: 5px 5px 0px 5px;
	text-align: center;
	margin: auto 10px 20px 10px;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
}

/* img {
	display: flex;
	margin: 5px auto;
	height: 110px;
	width: 110px;
	color: white;
	border-radius: 7%;
} */

img  {
	display: flex;
	margin: 5px auto;
	height: 110px;
	width: 110px;
	color: white;
	border-radius: 7%;

    opacity: .8;
    transform: scale(1);
	transition: transform .5s, opacity .5s;
	margin-bottom: 25px; 
}

img:hover {
    opacity: 1;
    transform: scale(1.10);
}

.caption {
	color: white;
	background-color: rgba(0, 0, 255, .5);
	border-radius: 10px;
	padding: 0 10px;
	font-size: 10px;
	opacity: .8;
}

/* =================================
			FOOTER
=================================== */

footer {
	height: 10%;
	width: 100%;
	color: white;
	background-color: rgba(0, 0, 255, .5);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

/* =================================
			MODAL
=================================== */

.modal {
	position: fixed;
	transition: all 200ms ease-in-out;
	text-align: center;
	top: 10%;
	width: 100%;
	height: 100%; 
	z-index: 5;
	/* overflow: hidden; */
}

.modalTitle{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 5%;
	padding-left: 2%;
}

.modal-titles {
	/* display: flex; */
	/* justify-content: space-between; */
	margin: auto;
	width: 100%;
}

h2 {
	font-size: 2.2em;
	margin: 5%;
	width: auto;
	height: 20%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	letter-spacing: 3px;
	order: -1;
}

.advice, .modal-titles > h2 {
	display: inline-block;
}

.modalContents {
	position: fixed;
	top: 15%;
	width: 80%;
	left: 10%;
	height: 70%;
	background-color: rgba(0,0,0,0.85);
	align-items: center;
	transition: all 200ms ease-in-out;
	color: white;
	border-radius: 5px;
	flex-direction: column;
	overflow-x: hidden;
	border: 3px solid rgba(247,154,65, 0.9);
	margin: auto;
}

.modalContents > p, .modalHeader > p {
	color: white;
	text-align: center;
	background-color: rgba(0, 0, 255, .5);
	border-radius: 10px;
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid rgba(247,154,65, 0.9);
	max-width: 100%;
	max-height: 100%;
	font-family: fantasy;
} 

.modalHeader > p{
	border: 1px dashed rgba(247,154,65, 0.9);
}

.pretty_title{
	text-decoration: underline;
	font-family: 'Srisakdi', cursive;
}

button {
	position: relative;
	border: 1px solid rgba(247,154,65, 0.9);
	border-radius: 5px;
	color: white;
	bottom: -78%;
	font-family: 'Srisakdi', cursive;
}

button:hover, button:active{
	background: black;
}

.modal-hidden {
	display: none;
	transform: scale(0.00001);
	flex-wrap: wrap;
}

/* 
==================================
			ELEMENT COLORS
=================================== */

.fire{
	background-color: rgba(236, 72, 39, 0.9);
}
.air{
	background-color: rgba(107, 234, 251, 0.9);
}
.earth{
	background-color: rgba(240,165,80,0.9);
}
.water{
	background-color: rgba(26,50,121, 0.9);	
}

/* =================================
			MEDIA QUERIES
=================================== */

@media only screen and (min-width: 415px) {
	img {
		height: 150px;
		width: 150px;
	}
	.caption {
		font-size: 12px;
	}
	
}

@media only screen and (min-width: 540px) {
	.caption {
		padding: 0 1px;
	}
	.pretty_title {
		font-size: 1.25em;
	}
	p {
		font-size: 18px;
	}
	h2 {
		font-size: 2.5em;
		margin-bottom: 7%;
		height: 40%;
	}
	button {
		font-size: 1em;
	}
	.modal-titles {
		display: flex; 
		justify-content: space-between; 
	}
	.modalTitle{
		justify-content: start;
	}
}

@media only screen and (min-width: 768px) {
		img {
			height: 175px;
			width: 175px; 
		}
		.caption {
			font-size: 15px;
		}
		.modalContents {
			width: 82%;
			left: 9%;
			top: 20%;
		}
		h1 {
			font-size: 2.8em;
		}
		h2{
			height: 50%;
		}

		h4 {
			font-size: 1.5em;
		}
		button {
			bottom: -82%;
		}
}

@media only screen and (min-width: 1020px) {
	img {
		height: 250px;
		width: 250px;
	}
	h2 {
		margin-bottom: 5%;
		margin-top: 3%;
		font-size: 3em;
	}
	p {
		font-size: 1.5em
	}
	button {
		font-size: 1.5em;
		margin-bottom: 25px;
	}
	.caption {
		font-size: 20px;
	}
}

@media only screen and (min-width: 1399px) {
	.imagecontainer {
		margin:auto;
	}
	h1, h4 {
		margin-left: auto;
		margin-right: auto;
	}
}


